body {
    height: 100vh;
    justify-content: space-between;
    font-family: sans-serif;
    background-color: #ffea00;
    text-transform: uppercase;
  }
  .row {
    display: flex;
  }
  header > .row {
    justify-content: space-between;
    padding-bottom: 1rem;
  }
  .container {
    width: 95%;
    margin: 0 auto;
    padding-bottom: 10rem;
    padding-top: 1rem;
  }
  .column {
    display: flex;
    flex-direction: column;
  }
  section.column {
    align-items: center;
    gap: 1rem;
  }
  button + button {
    margin-left: 2rem;
  }
  h1 {
    font-size: 2.0rem;
    text-align: center;
  }
  h2, p.player-score, p.computer-score {
    font-size: 1.2rem;
  }
  p.computer-score {
    text-align: right;
  }
  .msg, .msg2 {
    text-align: center;
    font-size: 1.5rem;
  }
  .msg2 {
    font-weight: bold;
  }
  .btn-img {
    height: 20vw;
    width:  20vw;
    object-fit: contain;
    max-width: 170px;
    max-height: 170px;
  }
  .animation-img {
    height: 35vw;
    width: 35vw;
    object-fit: contain;
    max-width: 240px;
    max-height: 240px;
    transition: all 0.5s;
    position: relative;
  }
  .left-final {
    /* for the final state of the animation on the left-side image (the player) */
    left: 0;
  }
  .right-final { 
    /* for the final state of the animation on the right-side image (the computer) */
    right: 0;
  }
  .left-initial {
    /* for the initial state of the animation on the left-side image (the player) */
    left: -1000px;
  }
  .right-initial {
    /* for the initial state of the animation on the right-side image (the computer) */
    right: -1000px;
  }
  .animation {
    text-align: center;
  }

@media screen (min-width: 552px) {
    h1 {
      font-size: 2.5rem;
    }
    h2, p.player-score, p.computer-score {
      font-size: 1.5rem;
    }
}
  